body
{
	width:1920px;
	height:auto;}
.ana
{
	width:1920px;
	height:150px;
	background-color:#AC6854;
	}
	.logo
	{
		background-image:url(img/logo.fw.png);
		width:221px;
		height:132px;
		}
		.ara
		{
			float:left;}
		.bir
		{
			width:221px;
			height:132px;
			float:left;
			}
			.baş
			{
				color:#FFF;
				margin-left:555px;
				width:100px;
				height:10xp;
				font-size:36px;
				}
			.iki
			{
				width:221px;
				height:132px;
				margin-left:555px;
				}
				.uc
				{
					width:221px;
					height:132px;
					margin-right:5px;
					float:left;
					}
					.menu
					{
						margin-top:0px;
						width:1920px;
						height:150px;
						background-color:#BA63F5;
						}
						.menu a
						{
							text-decoration:none;
							float:left;
							margin-left:100px;
							color:#FFF;
							padding:0px;
							font-size:24px;
							}
							.arama
							{
								padding-left:1550px;
								padding-top:55px;
								height:100px;
								font-size:36px;
								}
								.resim
								{
									background-image:url(img/orata%20resim.fw.png);
									width:1920px;
									height:640px;
									}
									.bilgi
									{
										width:1920px;
										height:800px;
										background-color:#E599FF;
										}
										.orta
										{
											color:#FFF;
											font-size:36px;
											text-align:center;
											padding-top:15px;
											margin:0px;
											padding:0px;
											}
											.sil
											{
												background-image:url(img/%C3%A7izgi.fw.png);
												width:1000px;
												height:5px;
												margin-left:475px;
												padding:0px;
											}
												.menubir
												{
													width:304px;
													height:188px;
													background-image:url(img/resim1.fw.png);
													margin-left:85px;
													margin-top:75px;
													
													}
													
														.resim2
														{
															width:304px;
															height:188px;
															background-image:url(img/resim2.fw.png);
															margin-left:885px;
														margin-top:-190px;
															}
															.metin
															{
																width:650px;
																height:198px;
																color:#FFF;
																margin-left:600px;
																font-size:24px;
																}
															.menuiki
															{
												   width:304px;
													height:188px;
													background-image:url(img/resim3.fw.png);
													margin-left:5px;
													margin-top:195px;
													}
													.resim3
													{
														width:304px;
														height:180px;
														background-image:url(img/resim4.fw.png);
														margin-left:1480px;
														margin-top:-190px;
														}
														.metin2
														{
															width:240px;
															height:100px;
															background-color:#003;
															}
															.ürünler
															{
																width:1920px;
																height:400px;
																background-color:#BA63F5;
																}
																.başlık
																{
																	width:300px;
																	height:60px;
																	background-color:#AC6854;
																	color:#FFF;
																	font-size:24px;
																	}
																	.ürün
																	{
																		width:307px;
																		height:210px;
																		background-color:#AC6854;
																		margin-top:45px;
																		margin-left:55px;
																		float:left;
																		background-image:url(img/%C3%B6rnek%20resim.fw.png);
																		}
																				.biri
																	{
																		width:307px;
																		height:210px;
																		background-color:#AC6854;
																		margin-top:0px;
																		margin-left:480px;
																		float:left;
																		margin-top:-10px;
																		background-image:url(img/%C3%B6rnek%20resim2.fw.png);
																		}
																		.ikin
																		{width:307px;
																		height:210px;
																		background-color:#AC6854;
																		margin-top:0px;
																		margin-left:480px;
																		float:left;
																		margin-top:-10px;
																		background-image:url(img/%C3%B6rnek%20resim3.fw.png);
																			}
																			.üç
																			{width:307px;
																		height:210px;
																		background-color:#AC6854;
																		margin-top:0px;
																		margin-left:480px;
																		float:left;
																		margin-top:-15px;
																		background-image:url(img/%C3%B6rnek%20resim4.fw.png);
																		}
																		.ürünler li
																		{
																			background-color:#AC6854;
																			color:#FFF;
																			}
																			.biri li
																			{background-color:#AC6854;
																			color:#FFF;
																				}
																				.ikin li 
																				{background-color:#AC6854;
																			color:#FFF;
																			}
																			.üç li
																			{background-color:#AC6854;
																			color:#FFF;
																			}
																			.enalt
																			{
																				width:1920px;
																				height:170px;
																				background-color:#AC6854;
																				}
																					.harita
																					{
																						margin-left:1719px;
																						margin-top:-65px;
																						}
																						.enalt a
																						{
																							margin-left:5px;
																							color:#FFF;
																							font-size:18px;
																							}
																							.not
																							{}
																							.not a
																							{
																								color:#FFF;
																								padding-left:15px;
																								font-size:20px;
																								}
																								.icon
																								{
																									float:left;
																									width:221px;
																									height:132px;
																									padding-left:55px;
																									margin-left:1490px;
																									margin-top:-2300px;
																			
																		}
																		.icon2
																		{
																			
																			width:221px;
																			height:132px;
																			padding-left:15px;
																			margin-left:1630px;
																			margin-top:-2300px;
																			}
																			.icon3
																			{
																				
																				width:221px;
																				height:132px;
																				margin-left:98px;
																				margin-top:-140px;
																				}		
																	
																	
										